$blue: #197aff !default;
$lightgray: #bbb !default;

$color_shallow_a: #ccc;
$color_white_background: #f4f4f4;
$color_bray_element: #aaa;
$color_black_element: #333;

// Color primary
$color-primary: $blue !default;
$color-text-disabled: $lightgray !default;
