.item-list {
  height: 100%;
  overflow: auto;
  li.list-li {
    min-height: 5rem;
    .img-content {
      float: left;
      img {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
    .info-content {
      text-align: left;
      margin-left: 5.2rem;
      ul li.info-detail {
        float: none;
        font-size: 0.5rem;
        display: inline-block;
        width: 49%;
      }
    }
  }
}
